DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=false
DJANGO_ALLOWED_HOSTS=192.168.0.191,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=http://192.168.0.191:8100

POSTGRES_DB=gestao
POSTGRES_USER=gestao
POSTGRES_PASSWORD=change-me

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@gestao.local
DJANGO_SUPERUSER_PASSWORD=change-me
